In [16]:
dic={
    "name":"nisha",
    "age":18,
    "course":"btech"
}
print(dic)
print(type(dic))

{'name': 'nisha', 'age': 18, 'course': 'btech'}
<class 'dict'>

In [17]:
dic.keys()

dict_keys(['name', 'age', 'course'])

In [18]:
dic.values()

dict_values(['nisha', 18, 'btech'])

In [19]:
dic.get('name')

'nisha'

In [20]:
# print(print("hello"))

In [21]:
print(True+True+False)

2

In [22]:
# print=3

In [23]:
# print(print)

In [24]:
dic["name"]

'nisha'

In [25]:
dic.items()

dict_items([('name', 'nisha'), ('age', 18), ('course', 'btech')])

In [26]:
dic['city']='abc'

In [27]:
dic

{'name': 'nisha', 'age': 18, 'course': 'btech', 'city': 'abc'}

In [28]:
dict.update({'city': 'jaipur'})
dic

{'name': 'nisha', 'age': 18, 'course': 'btech', 'city': 'abc'}

In [29]:
a,b,c,d=(1,2,3,4)

In [39]:
a=1,2,3,4
print(type(a))

<class 'tuple'>

In [37]:
print(type(a))

<class 'tuple'>

In [ ]:
# operators:
# arithnetic operation
# addition
a=10+2
print(a)

12

In [ ]:
# subtraction
b=10-2
print(b)

8

In [ ]:
# multiplcatio
c=10*2
print(c)
# division:
d=10/2
print(d)
# mode
f=10//2
print(f)
# floor:

20
5.0
5

In [ ]:
# comparison operators:
print(10>2)

True

In [48]:
print(10==2)

False

In [49]:
print(10<2)

False

In [50]:
print(10!=2)

True

In [51]:
print(10>=2)

True

In [54]:
print(10<=2)

False

In [ ]:
# Assignment operators:
x=5
print(x)
x+=3
print(x)
x-=2
print(x)
x/=2
print(x)
x%=2
print(x)
x*=4
print(x)
x//=2
print(x)
x**=5
print(x)

5
8
6
3.0
1.0
4.0
2.0
32.0

In [ ]:
# logical operator 
# and,or,not
x=5
y=10
print(x<y and y>x)
print(x<y or x>y)

True
True

In [70]:
# bitwise operator
x=2
y=4
print(x&y)
print(x|y)
print(x^y)

0
6
6

In [ ]:
# identity operator:
# types:
# is 
# is not
x=2
y=3
print(x is y)
print(x is not y)

False
True

In [87]:
# memebership operator:
# in
#  not in
s=[2,3,4,5]
print(2 in s)
print(3 not in s)

True
False

In [96]:
# conditional statements:
# keywords:if,elif,else
age=24
if (age>=18):
    print("allowed")
elif (age>=18 and age>=30):
    print("elgible")
else:
    print("not eligible")

allowed

In [93]:
# even odd
a=int(input("enter the number:"))
if a%2==0:
    print("even number")
else:
    print("odd number")

even number

In [97]:
grade=input("enter you grade:")
if grade=="A+":
    print("superb")
elif grade=="B+":
    print("okayy")
elif grade=="C":
    print("need to imporve")
else:
    print("fail")

superb

In [100]:
# loops:
# for and while:
# for loop:
x=10
for i in range(0,x):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [101]:
l=[2,3,5,6,7]
for i in l:
    print(i)

2
3
5
6
7

In [102]:
dic

{'name': 'nisha', 'age': 18, 'course': 'btech', 'city': 'abc'}

In [106]:
for i in dic.items():
    print(i)

('name', 'nisha')
('age', 18)
('course', 'btech')
('city', 'abc')

In [104]:
for j in dic.keys():
    print(j)

name
age
course
city

In [105]:
for j in dic.values():
    print(j)

nisha
18
btech
abc

In [111]:
l=[2,3,4,5,6,7]
for i in l:
    print(i)
    if i==3:
        break

2
3

In [113]:
l=[2,3,4,5,6,7]
for i in l:
  if i==3:
    continue
  print(i)

2
4
5
6
7

In [112]:
# while loop:
count=1
while(count<=6):
    print(count)
    count+=1

1
2
3
4
5
6